# Config & Tools
typing
python-dotenv
pandas>=2.0.0
seaborn
tqdm
python-telegram-bot
OmegaConf
hydra-core
# FinData
python-okx
akshare
qstock
pywencai
# Database
motor
pymongo
# Web
aiohttp
fastapi
streamlit
aiodns
loguru
pyyaml
kkdb
numpy
matplotlib
requests
setuptools
retry
python-okx